.footer {
  background-color: var(--surface-dark);
  height: 302px;
  left: 0;
  position: absolute;
  top: 1398px;
  width: 1440px;
}

.footer .logo-instance {
  height: 43px !important;
  left: 105px !important;
  position: absolute !important;
  top: 40px !important;
  width: 152px !important;
}

.footer .logo-2 {
  border-radius: 43px !important;
  height: 43px !important;
  width: 43px !important;
}

.footer .logo-3 {
  height: 51px !important;
  left: 5px !important;
  top: 5px !important;
  width: 34px !important;
}

.footer .logo-4 {
  border-radius: 16.8px !important;
  height: 34px !important;
  width: 34px !important;
}

.footer .logo-5 {
  font-size: 38.7px !important;
  left: 1px !important;
  line-height: 50.8px !important;
}

.footer .logo-6 {
  color: #ffffff !important;
  font-family: "Poppins", Helvetica !important;
  font-size: 17.8px !important;
  left: 50px !important;
  line-height: 23.3px !important;
  top: 10px !important;
}

.footer .text-wrapper {
  color: var(--object-white-60);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 120px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 256px;
  white-space: nowrap;
}

.footer .div {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 425px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.footer .text-wrapper-2 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 425px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.footer .text-wrapper-3 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 425px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 113px;
  white-space: nowrap;
}

.footer .text-wrapper-4 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 425px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 150px;
  white-space: nowrap;
}

.footer .rectangle {
  background-color: var(--object-white-90);
  height: 1px;
  left: 120px;
  opacity: 0.08;
  position: absolute;
  top: 232px;
  width: 1200px;
}

.footer .social-instagram {
  background-image: url(https://c.animaapp.com/md2o9bct5LusW5/img/union-1.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 1248px;
  position: absolute;
  top: 256px;
  width: 24px;
}

.footer .social-facebook {
  height: 24px !important;
  left: 1296px !important;
  position: absolute !important;
  top: 256px !important;
  width: 24px !important;
}

.footer .social-twitter {
  height: 24px !important;
  left: 1200px !important;
  position: absolute !important;
  top: 256px !important;
  width: 24px !important;
}

.footer .text-wrapper-5 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 730px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.footer .text-wrapper-6 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1035px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 39px;
  white-space: nowrap;
}

.footer .text-wrapper-7 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 730px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.footer .text-wrapper-8 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1035px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.footer .text-wrapper-9 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 730px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 113px;
  white-space: nowrap;
}

.footer .text-wrapper-10 {
  color: var(--surface-light);
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1035px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 113px;
  white-space: nowrap;
}