.navbar-light-default-wrapper {
  background-color: var(--surface-light);
  box-shadow: var(--4dp-elevation);
  height: 60px;
  position: relative;
  width: 1440px;
}

.navbar-light-default-wrapper .logo-7 {
  height: 43px !important;
  left: 118px !important;
  position: absolute !important;
  top: 8px !important;
  width: 152px !important;
}

.navbar-light-default-wrapper .logo-8 {
  border-radius: 43px !important;
  height: 43px !important;
  width: 43px !important;
}

.navbar-light-default-wrapper .logo-9 {
  height: 51px !important;
  left: 5px !important;
  top: 5px !important;
  width: 34px !important;
}

.navbar-light-default-wrapper .logo-10 {
  border-radius: 16.8px !important;
  height: 34px !important;
  width: 34px !important;
}

.navbar-light-default-wrapper .logo-11 {
  font-size: 38.7px !important;
  left: 1px !important;
  line-height: 50.8px !important;
}

.navbar-light-default-wrapper .text-wrapper-18 {
  color: var(--surface-dark);
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 939px;
  letter-spacing: 0;
  line-height: 21px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.navbar-light-default-wrapper .search {
  height: 37px;
  left: 510px;
  position: absolute;
  top: 12px;
  width: 402px;
}

.navbar-light-default-wrapper .overlap {
  background-color: var(--object-white-90);
  border-radius: 3px;
  height: 37px;
  position: relative;
  width: 400px;
}

.navbar-light-default-wrapper .search-for-course {
  background: transparent;
  border: none;
  color: var(--object-black-60);
  font-family: "Gilroy-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 12px;
  letter-spacing: 0;
  line-height: 21px;
  padding: 0;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.navbar-light-default-wrapper .search-px {
  height: 21px;
  left: 367px;
  position: absolute;
  top: 8px;
  width: 21px;
}

.navbar-light-default-wrapper .icon-action-search {
  height: 15px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 15px;
}

.navbar-light-default-wrapper .shopping-cart {
  height: 24px;
  left: 1095px;
  position: absolute;
  top: 18px;
  width: 24px;
}

.navbar-light-default-wrapper .icon-action-shopping {
  height: 20px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 20px;
}

.navbar-light-default-wrapper .primary-small-enabled {
  left: 1217px !important;
  position: absolute !important;
  top: 14px !important;
}

.navbar-light-default-wrapper .outline-small-enabled {
  border-color: #1b1b1be6 !important;
  left: 1135px !important;
  position: absolute !important;
  top: 14px !important;
}

.navbar-light-default-wrapper .outline-small-instance {
  color: var(--object-black-90) !important;
}
