.navbar-light-default-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.design-component-instance-node {
  font-family: "Poppins", Helvetica !important;
  font-size: 17.8px !important;
  left: 50px !important;
  line-height: 23.3px !important;
  top: 10px !important;
}

.navbar-light-default-instance-2 {
  font-family: "Poppins", Helvetica !important;
}
