.page {
  background-color: #ffffff;
  height: 1700px;
  position: relative;
  width: 1440px;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page--centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}
